@model MatchScoreViewModel

@using Microsoft.Extensions.Caching.Memory
@using TennisScoreboard.Application.Common.Interfaces
@using TennisScoreboard.Infrastructure.Services

@inject IMemoryCache _cache
@inject IPlayerRepository _playerRep;

@{
    ViewData["Title"] = $"Матч {Context.Request.Query.FirstOrDefault(key => key.Key == "uuid").Value}";
}

@{
    var matchId = Context.Request.Query.FirstOrDefault(key => key.Key == "uuid").Value.ToString();
    _cache.TryGetValue(matchId, out MatchService match);

    var player1 = await _playerRep.GetById(match.IdPlayer1);
    var player2 = await _playerRep.GetById(match.IdPlayer2);
}

<li>
    @player1.Name: @match.PointsPlayer1
</li>
<br />
<li>
    @player2.Name: @match.PointsPlayer2
</li>

<form asp-action="MatchScore" method="post" asp-route-uuid="@matchId">
    <div class="col-5 offset-2">
        <button type="submit" name="IdPointWinner" value="@player1.Id" class="btn btn-success form-control">Игрок 1 выиграл текущее очко</button>
    </div>

    <br />

    <div class="col 5" offset-2">
        <button type="submit" name="IdPointWinner" value="@player2.Id" class="btn btn-success form-control">Игрок 2 выиграл текущее очко</button>
    </div>
</form>
