@model MatchScoreViewModel

@using Microsoft.Extensions.Caching.Memory
@using TennisScoreboard.Application.Common.Interfaces
@using TennisScoreboard.Infrastructure.Services

@inject IMemoryCache _cache
@inject IPlayerRepository _playerRep;

@{
    ViewData["Title"] = $"Матч {Context.Request.Query.FirstOrDefault(key => key.Key == "uuid").Value}";
}

@{
    var matchId = Context.Request.Query.FirstOrDefault(key => key.Key == "uuid").Value.ToString();
    _cache.TryGetValue(matchId, out MatchService match);

    var player1 = await _playerRep.GetById(match.IdPlayer1);
    var player2 = await _playerRep.GetById(match.IdPlayer2);
}

@{
    string GetNameWinnerPlayer()
        => match.WinnerId == player1.Id ? player1.Name : player2.Name;
}

<div class="text-md-center">
    <h1>
        Матч @player1.Name - @player2.Name
    </h1>

    <br />

    @if (match.IsFinished)
    {
        <h3>
            Матч окончен. Победитель: @GetNameWinnerPlayer()
        </h3>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Players
            </th>
            <th>
                Points
            </th>
            <th>
                S1
            </th>
            <th>
                S2
            </th>
            <th>
                S3
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @player1.Name
            </td>
            <td>
                @match.GetCurrentSet().Game.ScorePlayer1
            </td>
            <td>
                @match.GetSetByNumber(1).ScorePlayer1
            </td>
            <td>
                @match.GetSetByNumber(2).ScorePlayer1
            </td>
            <td>
                @match.GetSetByNumber(3).ScorePlayer1
            </td>
        </tr>
        <tr>
            <td>
                @player2.Name
            </td>
            <td>
                @match.GetCurrentSet().Game.ScorePlayer2
            </td>
            <td>
                @match.GetSetByNumber(1).ScorePlayer2
            </td>
            <td>
                @match.GetSetByNumber(2).ScorePlayer2
            </td>
            <td>
                @match.GetSetByNumber(3).ScorePlayer2
            </td>
        </tr>
    </tbody>
</table>

<form asp-action="MatchScore" method="post" asp-route-uuid="@matchId">
    <div class="col text-md-center pt-1">
        <button type="submit" name="IdPointWinner" value="@player1.Id" class="btn btn-outline-dark">Игрок 1 выиграл текущее очко</button>
        <button type="submit" name="IdPointWinner" value="@player2.Id" class="btn btn-outline-dark">Игрок 2 выиграл текущее очко</button>
    </div>
</form>
