@model MatchScoreViewModel

@{
    var matchId = Context.Request.Query.FirstOrDefault(key => key.Key == "uuid").Value.ToString();

    string GetNameWinnerPlayer()
        => Model.Match.WinnerId == Model.Player1.Id ? Model.Player1.Name : Model.Player2.Name;
}

@{
    ViewData["Title"] = $"Матч {matchId}";
}

<div class="text-md-center">
    <h1>
        Матч @Model.Player1.Name - @Model.Player2.Name
    </h1>

    <br />

    @if (Model.Match.IsFinished)
    {
        <h3>
            Матч окончен. Победитель: @GetNameWinnerPlayer()
        </h3>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Players
            </th>
            <th>
                Points
            </th>
            <th>
                S1
            </th>
            <th>
                S2
            </th>
            <th>
                S3
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Player1.Name
            </td>
            <td>
                @Model.Match.GetCurrentSet().Game.ScorePlayer1
            </td>
            <td>
                @Model.Match.GetSetByNumber(1).ScorePlayer1
            </td>
            <td>
                @Model.Match.GetSetByNumber(2).ScorePlayer1
            </td>
            <td>
                @Model.Match.GetSetByNumber(3).ScorePlayer1
            </td>
        </tr>
        <tr>
            <td>
                @Model.Player2.Name
            </td>
            <td>
                @Model.Match.GetCurrentSet().Game.ScorePlayer2
            </td>
            <td>
                @Model.Match.GetSetByNumber(1).ScorePlayer2
            </td>
            <td>
                @Model.Match.GetSetByNumber(2).ScorePlayer2
            </td>
            <td>
                @Model.Match.GetSetByNumber(3).ScorePlayer2
            </td>
        </tr>
    </tbody>
</table>

@if (!Model.Match.IsFinished)
{
    <form asp-action="MatchScore" method="post" asp-route-uuid="@matchId">
        <div class="col text-md-center pt-1">
            <button type="submit" name="IdPointWinner" value="@Model.Player1.Id" class="btn btn-outline-dark">Игрок 1 выиграл текущее очко</button>
            <button type="submit" name="IdPointWinner" value="@Model.Player2.Id" class="btn btn-outline-dark">Игрок 2 выиграл текущее очко</button>
        </div>
    </form>
}
